Repository escapace/yeux: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.json": ["prettier --write"],
  "packages/*/src/**/*.ts": ["eslint --fix", "prettier --write"]
}

fix: release
  package.json
  packages/runtime/package.json
  packages/types/package.json
  packages/yeux/package.json
  scripts/release.mjs
Due: prettier --write

fix: release
  .github/workflows/release.yml
Due: none

chore: update README.md
  packages/runtime/README.md
  packages/types/README.md
  packages/yeux/README.md
Due: none

feat: ux improvements
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  packages/runtime/package.json
  packages/runtime/src/print-server-urls.ts
  packages/types/package.json
  packages/yeux/package.json
  packages/yeux/src/cli.ts
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/commands/preview.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
  packages/yeux/src/utilities/build-create-instance.ts
  packages/yeux/src/utilities/build-index.ts
  packages/yeux/src/utilities/color.ts
  packages/yeux/src/utilities/log.ts
  packages/yeux/src/utilities/prefix-child-process.ts
  packages/yeux/src/utilities/prefix-stream.ts
  pnpm-lock.yaml
  scripts/.eslintrc.json
  scripts/build.mjs
  scripts/constants.mjs
Due: prettier --write, eslint --fix

chore(deps): update all non-major dependencies
  package.json
  packages/runtime/package.json
  packages/types/package.json
  packages/yeux/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): lock file maintenance
  pnpm-lock.yaml
Due: none

fix: upgrade @types/node from 17.0.23 to 17.0.24
  packages/yeux/package.json
Due: prettier --write

chore(deps): update dependency husky to v8
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update commitlint monorepo to v17
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency lint-staged to v13
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): update all non-major dependencies
  package.json
  packages/runtime/package.json
  packages/types/package.json
  packages/yeux/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): update dependency middie to v7
  packages/yeux/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update dependency syncpack to v8
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): update dependency @fastify/static to v6
  packages/yeux/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): pin dependency fastify to 4.0.2
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write
