Repository escapace/pointe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.json": ["prettier --write"],
  "packages/*/src/**/*.ts": ["eslint --fix", "prettier --write"],
  "scripts/*.{mjs,cjs}": ["eslint --fix", "prettier --write"]
}

chore: fix release workflow
  .github/workflows/release.yml
Due: none

chore: update release script
  scripts/release.mjs
Due: prettier --write, eslint --fix

chore: codeql
  .github/workflows/codeql-analysis.yml
Due: none

feat: esm & api entry
  .husky/pre-commit
  packages/runtime/package.json
  packages/runtime/src/print-server-urls.ts
  packages/types/package.json
  packages/types/src/index.ts
  packages/yeux/package.json
  packages/yeux/src/cli.ts
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
  packages/yeux/src/utilities/build-api.ts
  packages/yeux/src/utilities/build-index.ts
  packages/yeux/src/utilities/build-options.ts
  packages/yeux/src/utilities/color.ts
  packages/yeux/src/utilities/log.ts
  packages/yeux/src/utilities/prefix-child-process.ts
  packages/yeux/src/utilities/resolve.ts
  pnpm-lock.yaml
  scripts/build.mjs
  tsconfig-base.json
Due: prettier --write, eslint --fix

feat: make api entry optional
  .github/workflows/release.yml
  .ls-lint.yml
  packages/yeux/package.json
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
  packages/yeux/src/utilities/build-api.ts
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/constants.mjs
Due: prettier --write, eslint --fix

fix: cli help
  packages/yeux/src/cli.ts
  scripts/build.mjs
  scripts/constants.mjs
Due: prettier --write, eslint --fix

fix: @yeuxjs/types
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: @yeuxjs/types
  .husky/pre-commit
  packages/yeux/package.json
  pnpm-lock.yaml
  scripts/release.mjs
Due: prettier --write, eslint --fix

feat: dockerfile
  packages/yeux/package.json
  packages/yeux/src/commands/build.ts
  packages/yeux/src/index.ts
  packages/yeux/templates/Dockerfile.ejs
  packages/yeux/templates/docker-entrypoint.sh.ejs
Due: prettier --write, eslint --fix

feat: normalize env behavior across entries
  packages/yeux/src/commands/build.ts
  packages/yeux/src/index.ts
  packages/yeux/src/utilities/build-options.ts
Due: prettier --write, eslint --fix

fix: consistent file permissions
  packages/yeux/src/commands/build.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
  packages/yeux/src/utilities/build-index.ts
  packages/yeux/templates/Dockerfile.ejs
Due: prettier --write, eslint --fix

chore: changelog
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: changelog
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update .github/renovate.json5
  .github/renovate.json5
Due: none

feat: remove dockerfile
  .github/workflows/release.yml
  .husky/pre-commit
  .syncpackrc
  package.json
  packages/runtime/package.json
  packages/types/package.json
  packages/yeux/package.json
  packages/yeux/src/commands/build.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
  packages/yeux/src/utilities/build-index.ts
  packages/yeux/templates/Dockerfile.ejs
  packages/yeux/templates/docker-entrypoint.sh.ejs
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: --target option
  packages/yeux/package.json
  packages/yeux/src/cli.ts
  packages/yeux/src/constants.ts
  packages/yeux/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update renovate.json5
  .github/renovate.json5
Due: none

fix: pnpm version
  .github/workflows/release.yml
Due: none

fix: update fastify
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: @fastify/middie
  packages/yeux/package.json
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/utilities/build-index.ts
  packages/yeux/src/utilities/resolve.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: print server urls
  package.json
  packages/runtime/package.json
  packages/runtime/src/print-server-urls.ts
  packages/types/package.json
  packages/yeux/package.json
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: env prefix
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/commands/preview.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
  packages/yeux/src/utilities/build-api.ts
  packages/yeux/src/utilities/build-create-instance.ts
  packages/yeux/src/utilities/build-index.ts
  packages/yeux/src/utilities/build-options.ts
  packages/yeux/src/utilities/env-prefix.ts
  packages/yeux/src/utilities/env.ts
Due: prettier --write, eslint --fix

fix: env
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/utilities/build-options.ts
  packages/yeux/src/utilities/env-prefix.ts
  packages/yeux/src/utilities/env.ts
Due: prettier --write, eslint --fix

feat!: vite 3
  packages/yeux/package.json
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: pnpm
  packages/yeux/src/commands/build.ts
Due: prettier --write, eslint --fix

fix: pnpm fix frozen lockfile
  packages/yeux/src/commands/build.ts
Due: prettier --write, eslint --fix

fix: env
  .husky/pre-commit
  package.json
  packages/runtime/package.json
  packages/types/tsconfig.json
  packages/yeux/src/index.ts
  packages/yeux/src/utilities/build-options.ts
  packages/yeux/src/utilities/env.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: unify build entries
  .github/renovate.json5
  .github/workflows/release.yml
  package.json
  packages/runtime/package.json
  packages/types/package.json
  packages/yeux/package.json
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/utilities/build-api.ts
  packages/yeux/src/utilities/build-entries.ts
  packages/yeux/src/utilities/build-index.ts
  packages/yeux/src/utilities/build-options.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: workflow
  .github/workflows/release.yml
Due: none

feat: remove static file serving and fix NODE_ENV
  package.json
  packages/runtime/package.json
  packages/types/package.json
  packages/yeux/package.json
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/commands/preview.ts
  packages/yeux/src/index.ts
  packages/yeux/src/utilities/build-index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: updates
  package.json
  packages/runtime/package.json
  packages/types/package.json
  packages/yeux/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: strict port
  packages/yeux/src/commands/dev.ts
Due: prettier --write, eslint --fix

feat: refactoring
  package.json
  packages/runtime/.editorconfig
  packages/runtime/.eslintrc.json
  packages/runtime/.prettierrc.json
  packages/runtime/LICENSE
  packages/runtime/README.md
  packages/runtime/package.json
  packages/runtime/src/index.ts
  packages/runtime/src/print-server-urls.ts
  packages/runtime/tsconfig.json
  packages/types/package.json
  packages/types/src/index.ts
  packages/yeux/package.json
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/commands/preview.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
  packages/yeux/src/utilities/build-entries.ts
  packages/yeux/src/utilities/build-index.ts
  packages/yeux/src/utilities/build-options.ts
  packages/yeux/src/utilities/env-prefix.ts
  packages/yeux/src/utilities/env.ts
  packages/yeux/src/utilities/headers.ts
  packages/yeux/src/utilities/install.ts
  packages/yeux/tsconfig.json
  pnpm-lock.yaml
  tsconfig-base.json
  tsconfig.json
Due: prettier --write, eslint --fix

chore: workflow updates
  .github/codecov.yaml
  .github/dependabot.yaml
  .github/dependabot.yml
  .github/labeler.yaml
  .github/renovate.json5
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yaml
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
  .github/workflows/release.yml
  .github/workflows/workflow-call-context.yaml
  package.json
  packages/yeux/package.json
Due: prettier --write
