Repository escapace/pointe: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: workflow updates
  .github/workflows/release.yaml
  package.json
  packages/types/package.json
  packages/yeux/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: minimum node version
  packages/yeux/src/constants.ts
Due: prettier --write, eslint --fix

feat: watch on preview
  packages/yeux/src/cli.ts
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/preview.ts
  packages/yeux/src/index.ts
Due: prettier --write, eslint --fix

fix: manifest cleanup
  packages/yeux/src/commands/build.ts
Due: prettier --write, eslint --fix

fix: rename manifests
  packages/types/src/index.ts
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/preview.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
Due: prettier --write, eslint --fix

fix: @vitejs/plugin-legacy not supported
  package.json
  packages/yeux/package.json
  packages/yeux/src/commands/build.ts
  packages/yeux/src/index.ts
  packages/yeux/src/plugins/esbuild-external-plugin.ts
  packages/yeux/src/plugins/external.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: wait for watcher
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/preview.ts
Due: prettier --write, eslint --fix

fix: move the manifests
  packages/yeux/src/commands/build.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
Due: prettier --write, eslint --fix

fix: pass on moduleGraph
  packages/types/package.json
  packages/types/src/index.ts
  packages/yeux/src/commands/dev.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: assetsDir
  packages/types/src/index.ts
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
Due: prettier --write, eslint --fix

feat!: support hono
  .husky/pre-commit
  .syncpackrc.json
  package.json
  packages/types/package.json
  packages/types/src/index.ts
  packages/yeux/package.json
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/commands/preview.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
  packages/yeux/src/utilities/install.ts
  packages/yeux/src/utilities/prefix-child-process.ts
  pnpm-lock.yaml
  scripts/constants.mjs
Due: prettier --write, eslint --fix

feat: updates
  .github/workflows/workflow-call-context.yaml
  package.json
  packages/types/package.json
  packages/yeux/package.json
  pnpm-lock.yaml
  tsconfig-base.json
Due: prettier --write

fix: hmr issues
  package.json
  packages/types/package.json
  packages/yeux/package.json
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: webworker target support
  .syncpackrc
  .syncpackrc.json
  package.json
  packages/types/package.json
  packages/yeux/package.json
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: workflow
  .github/renovate.json5
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-call-ci.yaml
  .github/workflows/workflow-call-context.yaml
  .husky/pre-commit
  .syncpackrc.json
  package.json
  packages/types/package.json
  packages/yeux/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: workflow
  package.json
Due: prettier --write

chore: remove release script
  scripts/.eslintrc.json
  scripts/release.mjs
Due: prettier --write, eslint --fix

chore: workflow typo
  .github/workflows/workflow-call-ci.yaml
Due: none

fix: environment propagation
  package.json
  packages/types/.lintstagedrc.json
  packages/types/package.json
  packages/types/src/index.ts
  packages/yeux/.lintstagedrc.json
  packages/yeux/package.json
  packages/yeux/src/commands/build.ts
  packages/yeux/src/commands/dev.ts
  packages/yeux/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: ssr vite config resolution
  packages/yeux/src/commands/build.ts
  packages/yeux/src/index.ts
  packages/yeux/src/types.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.json) or (any of: packages/*/src/**/*.ts)) or (any of: scripts/*.{mjs,cjs})
  eslint --fix: (any of: packages/*/src/**/*.ts) or (any of: scripts/*.{mjs,cjs})
